.secondsec{
    min-height: fit-content;

}
       *{
        margin:0;
        padding: 0;
    }

    body{
        color:  rgb(121, 37, 121);
        font-family: 'Poppins',sans-serif;
        background-image: url("interest_bg.png");
        background-size: contain;
        background-repeat:repeat-y;
        background-color: #9723b735;
    }


    .navbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 90px;
        background-color: rgb(255, 255, 255);
        color: rgb(118, 18, 118);
        font-weight: bold;
    } 

    .left{
        margin-left: 40px;
    }
    
    .right{
        display: flex;
        font-size: large;
    }
    
    ul{
        display: flex;
        justify-content: space-evenly;
    }
    
    ul li{
        list-style: none;
        margin-top: 23px;
        display: flex;
        justify-content: space-evenly;
        margin-right: 40px;
    }
    ul li a{
        text-decoration: none;
        color: rgb(121, 37, 121);
    }

    ul li a:hover{
        color:rgb(187, 124, 220);
    }

    
/**********************************burger*******************/
.burger{
display: none;
position: absolute;
cursor: pointer;
right: 5%;
top: 15px;
}

.line{
width:33px;
background-color: #4e0946;
height: 4px;
margin: 6px;
}

.right.active {
left: 0;
}

.line {
display: block;
width: 25px;
height: 3px;
margin: 5px auto;
-webkit-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
background-color: #101010;
}

.right {
display: flex;
justify-content: space-between;
align-items: center;
}

/**********************************************************************************************************/



    .firstsec{
        display: flex;
        justify-content:space-between;
        height: 600px
    }

    .leftsec {
        width: 50%;
    }

    .leftsec{
        margin-top: 90px;
        margin-left: 50px;
        margin-right: 30px;
        font-size: 1.5rem;
        margin-left: 90px;
    }
/* ///////////////////////////////////////////////////// */


  .rightsec_smallsec{
      display: none;
  }
    
  .rightsec_bigsec{
    width: 250px;
    height:520px;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    margin-top: 7%;
  }

  .rightBoxImg{
    z-index: 2;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .rightBoxImg img{
    border: 4px solid rgb(187, 144, 187);
  }


  .rightBox{
    z-index: 1;
    background-color:#c15381;
    height: 80%;
    border-bottom:#efebf0;
    padding: 20px;
    /* border: 3px solid rgb(102, 52, 102); */
  }

  .rightboxSmall{
    height: 47%;
    background-color: #fadfeff8;
    /* margin-right:10px; */
    /* margin-left: 20px */
    /* margin-left:20px;
    margin-top: 10px; */
    padding: 20px;
    /* border: 4px solid rgb(109, 76, 115); */
  }

  .Intro{
    display: flex;
    width:100%;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .Intro-inside{
    display: flex;
    flex-wrap: wrap;
    background-color: #ffefef;
    height:47.5px;
    width: 70%;
    padding-left: 3px;
  }

  .intro-logo{
    /* margin-left: 10px; */
    width:47.5px;
    height:47.5px;
    background-color: #a6267b9d;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .IntroContent{
    width:100%;
    font-size: 10px;
    font-weight: bold;
  }

  .IntroTitle{
    margin-top: 5px;
    width:100%;
    font-size: 15px;
  }



  #follow{
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #7b124f;
    font-weight: bold;
  }

  
    #name{
        color:rgb(140, 43, 124);
        font-weight: bold;
    }

    #element{
        color:rgb(140, 43, 124);
        font-weight: bold;
    }

    .social{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .social a{
        margin-top: 5px;
        margin: 10px;
        font-size: 20px;
        font-weight: 200;
        color: #660e39;
    }

    .btn{
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .btn button {
        justify-content: center;
        align-items: center;
        padding: 8px 20px;
        background: rgb(238, 203, 238);
        border-radius: 30px;
        border: 1.5px solid #571169;
        margin-right: 1rem;
        margin-top: 10px;
        margin-bottom: 10px;
        cursor: pointer;
        font-weight:bold;
    }


    .btn button:hover {
        padding: 8px 20px;
        background: rgb(230, 211, 230);
        border-radius: 30px;
        border: 1.5px solid #673375;
        margin-right: 1rem;
        margin-top: 10px;
        margin-bottom: 10px;
        cursor: pointer;
        font-weight:bold;
    }  


    button a {
        text-decoration: none; 
        color: #830b57;
    }

    button a:hover{
        color: rgb(132, 12, 108);
    }

/*************************************************************************************************/


    .skills{
      margin-top: 80px;
        display: flex;
        height: 15px;
        font-size: 25px;
        color: rgb(121, 37, 121);
        font-weight: bold;
    }
/* 
    nav .skill-list{
        margin-top: 1px;
    } */

    .skill-list ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .skill-list ul li{
        list-style: none;
        margin: 2px 2px;
        font-weight:normal;
    }

    
   

    

        
    /****************footer****************/

    .ft1{
        height: 60px;
        background-color: #84126956;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: large;
        font-weight: bold;
        color: #4e0946;
    }

    .ft2{
        height: 60px;
        background-color: #6b06539b;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 9px;
        color: #4e0946;
    }
  


/*************************************************/



/***************contact me*******************/


#contact-form {
margin-top:30px;
max-width: 400px;
margin: 50px auto;
padding: 20px;
border: 1px solid #ccc;
border-radius: 8px;
background-color: #f9f9f9;
position: relative;
}

/* Form title */
#contact-form h2 {
margin-bottom: 20px;
text-align: center;
}

/* Form inputs */
#contact-form input[type="email"],

#contact-form textarea {
width: 100%;
padding: 10px;
margin-bottom: 10px;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}

/* Form button */
#contact-form button[type="submit"] {
width: 100%;
padding: 10px;
background-color: #870854a6;
color: #fff;
border: none;
border-radius: 4px;
cursor: pointer;
}

#contact-form{
    font-size: 10px;
    width: 50%;
}

/* Status message */
#statusMessage {
margin-top: 10px;
text-align: center;
}

.smaller-leftsec{
    display:none
}

.firstsec-small{
    display: none;
}

.smallPic{

display:none}


/* .name{
    display:none;
} */

/* .smallScreen{
    display:flex;
    flex-direction: column;
    width:100%;
} */


.smallScreen{
    display:none;
}

footer {
    margin-top: auto; /* Push footer to the bottom */
    width: 100%;
    color: #4e0946;
    text-align: center;
    /* padding: 20px 0; */
    flex-shrink: 0; /* Prevent footer from shrinking */
}

/***************************** Media query for screens smaller than 768px***************************/
/***************************** Media query for screens smaller than 768px***************************/
@media screen and (max-width: 767px) {

nav .skills{
    margin-top: 20px;
}

body{
    background-color: white;
    background-image: none;
}

.smallScreen{
    display: flex;
    flex-direction: column;

}
.name{
    display: block;
}


.smallPic{
    display:block;
}

    .rightsec_bigsec{
        display: none;
    }
    .rightsec_smallsec{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .rightsec_smallsec img{
        height: "50";
        width: 50%;
        background-color:rgb(153, 76, 153);
        border-radius: 100%;
        border: 4px solid rgb(102, 52, 102);
        
    }

    .rightsec_smallsec img:hover{
        transform: rotateX('90');
    }

   
  
    nav .skills{
        font-size: 20px;
    }

    nav .still_list ul{
        font-size: 15px;
    }
    .navbar .right{
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .navbar .right ul  {
        margin-top: 20px;
        flex-direction: column;
    }

    .left {
        left: 5%;
    }

    .right {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        box-shadow:
            0 10px 37px rgba(0, 0, 0, 0.05);
        }

        
        .right.active {
        left: 0;
        }
                
        .burger {
        display: block;
        cursor: pointer;
        }
        
        .burger.active .bar:nth-child(2) {
        opacity: 0;
        }
        
        .burger.active .bar:nth-child(1) {
        transform: translateY(18px) rotate(45deg);
        }
        
        .burger.active .bar:nth-child(3) {
        transform: translateY(-18px) rotate(-45deg);
        }
        

    .footer {
        height: auto;
    }

    .footer {
        flex-direction: column;
        align-items: center;
    }

    hr {
        margin-top:50px;
    }



    .firstsec {
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .firstsec div {
        /* margin-left: 40px;
        margin-right: 40px; */
        font-size: 15px;
        width: 100%;
        text-align: center;
    }

    .leftsec {
        margin: 20px;
    }

    .btn button {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .skills {
        margin: 0 10px;
    }

    .skill-list ul {
        margin: 2px 10px;
        margin-top: 10px;
    }

    .contact-form{
        margin-top: 40px;
    }


        
    .right.active {
        left: 0;
        }

        
.ft1{
    height: 30px;
    font-size: 15px;
}


.ft2{
    height: 30px;
    font-size: 8px;
}


.left{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
}

.left img{
    height: 40px;
}
        
}





/* Media query for screens smaller than 576px */
@media screen and (max-width: 575px) {

    body{
        padding: 0px;
    }
    .rightsec img {
        width: 100%;
    }

    .burger {
        display: block;
    }

    .skill-list ul {
        margin: 10px; /* Adjust margin to create space */
    }

    #contact-form {
        margin: 20px auto; /* Adjust margin to create space */
    }
}